<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wozzytheprogrammer.kwproperty">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".Customer.FavoriteListActivity"
            android:label="@string/title_favorite_list"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
            android:name=".Customer.FavoriteDetailActivity"
            android:label="@string/title_favorite_detail"
            android:parentActivityName=".Customer.FavoriteListActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wozzytheprogrammer.kwproperty.Customer.FavoriteListActivity" />
        </activity>
        <activity
            android:name=".Customer.FindAgentsActivity"
            android:label="@string/title_activity_find_agents"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Customer.CustomerFavoritesListView"
            android:label="@string/title_favoriteproperty_list"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Chat.ChatMainActivity"
            android:label="@string/chat"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".Login.LauncherActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.AuthenticationActivity" />
        <activity android:name=".Customer.CustomerMapActivity" />
        <activity android:name=".Customer.CustomerProfileActivity" />
        <activity android:name=".Agent.AgentProfileActivity" />
        <activity android:name=".Customer.CustomerListView" />
        <activity
            android:name=".Agent.AgentMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>